* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  /* outline: 1px solid red; */
}
.clear {
  display: block;
  clear: both;
}
ul li {
  list-style-type: none;
}
html body {
  width: 100%;
  height: 100%;
}

.c_blue {
  color: #18a0fb;
  border: #18a0fb;
}
.c_green {
  color: #03DD8F;
  border: #03DD8F;
}
.pointer {
  cursor: pointer;
}
.main {
  float: left;
  width: 80%;
  padding: 50px;
}
.side {
  position: relative;
  float: right;
  width: 20%;
  padding: 20px;
  border-left: 1px solid #ccc;
  height: 720px;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 0px 15px 0px;
}
.nav {
  width: 100%;
}
.nav .date_now {
  float: left;
}
.nav ul {
  float: right;

  font-size: 0;
}

.nav ul li {
  display: inline-block;
  padding: 0 20px;
  font-size: 20px;
}

.tomato_data {
  float: left;
  width: 40%;
}

.tomato_txt {
  margin-top: 250px;
  margin-left: 50px;
}
.tomato_txt .tomato_name {
  padding: 20px;
  font-size: 35px;
}
.tomato_txt .tomato_name span {
  width: 30px;
  height: 30px;
  border: 2px solid;
  border-radius: 50%;
  display: inline-block;
  vertical-align: middle;
}
.tomato_txt .tomato_date {
  padding: 20px;
  font-size: 100px;
}

.tomato_timing {
  width: 60%;
  float: left;
}
.tomato_tim {
  position: relative;
  margin-top: 100px;
  margin-left: 100px;
  width: 500px;
  height: 500px;
  display: inline-block;
  border: 5px solid #BEFAE4;
  border-radius: 50%;
}
.tomato_tim .tomato_inside {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-52%) translateY(-52%);
  width: 480px;
  height: 480px;
  margin: 10px;
  display: inline-block;
  /* border: 1px solid ; */
  border-radius: 50%;
  box-shadow: rgba(125, 240, 199, 0.4) 2px 2px 50px 0px inset;
}
.tomato_tim .icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  font-size: 100px;
}

.side h3 {
  font-size: 25px;
}
.side .tomato_list .list_all li {
  display: inline-block;
  margin: 20px 0;
  color: #ccc;
}
.list_done {
  float: right;
}
.tomato_datalist li {
  padding: 20px 0;
  border-bottom: 1px solid rgb(190, 189, 189);
}
.list_OO {
  width: 20px;
  height: 20px;
  border: 1px solid #000;
  border-radius: 50%;
}
.list_start {
   font-size: 20px; 
  display: inline-block;
  vertical-align: middle;
  margin: 0 20px;
}
.add {
  position: absolute;
  display: inline-block;
  text-decoration: none;
  font-size: 35px;
  padding: 10px 20px;
  color: white;
  border: 2px solid #1bc47d;
  background-color: #1bc47d;
  border-radius: 50%;
  bottom: 100px;
  left: -35px;
}
.addtxt{
    position: absolute;
    bottom: 80px;
    left: -250px;
    display: none;
    padding: 10px;
    border: 1px solid #18a0fb91;
    border-radius: 3px;
    
}
.addtxt input{
    display: block;
    margin: 10px 0;
}
.addtxt p{
    padding: 10px 0;
    color: #18a0fb;
    font-family: '微軟正黑體';
}
.addtxt .txt{
    border-radius: 3px;
    border: 1px solid #18a0fb;  
    padding: 5px;
}
.addtxt .submit{
    display: inline-block;
    border: none;
    border-radius: 3px;
    background-color: #18a0fb;
    padding: 10px;
    color: white;
    cursor: pointer;
}
.addtxt .cancel{
    background-color: #03DD8F;
    cursor: pointer;
}